 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/431a6031135fd4d1f122dc9e3dca182625d43307f7aca49220e26329c6feaa2c4adba717557d273584589fdb0fd9e6dedf489c720c47a74b8f2778_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 740px;
}

.u-section-1 .u-group-1 {
  width: 749px;
  min-height: 370px;
  margin: 185px auto;
}

.u-section-1 .u-image-1 {
  width: 399px;
  height: 240px;
  margin: 29px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-group-1 {
    width: 618px;
  }

  .u-section-1 .u-image-1 {
    width: 329px;
    margin-left: 144px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 473px;
  }

  .u-section-1 .u-image-1 {
    width: 362px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 443px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    margin-right: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 198px;
    margin-top: 53px;
    margin-right: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 168px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 149px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 262px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 224px;
  }
} .u-section-3 {
  background-image: url("images/17cecbb61d1f1171e844e5c34ee592eb67968220b3c16da3ad6c316f89a7cf7d255b6fc0dcb2be9c45e18ed8abd1f4c1e77611a57b9a67c6a8ac59_1280-14.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 2023px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -122px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 218px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-3 .u-icon-1 {
  height: 81px;
  width: 81px;
  margin: 15px auto 0;
  padding: 0;
}

.u-section-3 .u-text-1 {
  margin: 29px -97px 0 117px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 15px 10px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 161px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: 49px -65px 0 85px;
}

.u-section-3 .u-text-4 {
  margin: 15px 137px 0 178px;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 100px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-3 .u-icon-2 {
  height: 93px;
  width: 93px;
  margin: 15px auto 0;
  padding: 0;
}

.u-section-3 .u-text-5 {
  margin: 21px -94px 0 114px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 20px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 270px;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 20px;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  margin: 41px -85px 0 85px;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  margin: 38px -158px 0 178px;
}

.u-section-3 .u-layout-wrap-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 100px;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 20px;
}

.u-section-3 .u-icon-3 {
  height: 81px;
  width: 81px;
  margin: 27px auto 0 220px;
  padding: 0;
}

.u-section-3 .u-text-9 {
  margin: 29px -117px 0 137px;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  margin: 11px 20px 0 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 234px;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 20px;
}

.u-section-3 .u-text-11 {
  font-size: 1.5rem;
  margin: 38px -57px 0 77px;
}

.u-section-3 .u-text-12 {
  font-size: 1.25rem;
  margin: 34px -158px 0 178px;
}

.u-section-3 .u-layout-wrap-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 100px;
}

.u-section-3 .u-container-layout-7 {
  padding-left: 20px;
}

.u-section-3 .u-icon-4 {
  height: 81px;
  width: 81px;
  margin: 27px auto 0 220px;
  padding: 0;
}

.u-section-3 .u-text-13 {
  margin: 29px -117px 0 137px;
}

.u-section-3 .u-text-14 {
  font-size: 1.25rem;
  margin: 11px 20px 0 0;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 283px;
}

.u-section-3 .u-container-layout-8 {
  padding-left: 20px;
}

.u-section-3 .u-text-15 {
  font-size: 1.5rem;
  margin: 58px -74px 0 94px;
}

.u-section-3 .u-text-16 {
  margin: 40px 173px 0 178px;
}

.u-section-3 .u-image-1 {
  width: 560px;
  height: 180px;
  margin: -1px auto 60px 0;
}

.u-section-3 .u-image-2 {
  width: 255px;
  height: 103px;
  margin: 30px 0 60px auto;
}

.u-section-3 .u-image-3 {
  width: 170px;
  height: 113px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 8px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    width: 225px;
    margin-left: 128px;
    margin-right: 87px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 8px;
  }

  .u-section-3 .u-text-5 {
    position: relative;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    position: relative;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 179px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 179px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-14 {
    margin-right: 0;
  }

  .u-section-3 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-16 {
    width: 76px;
    margin-left: 128px;
    margin-right: 123px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 7px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 3px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 73px;
    margin-right: 32px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 7px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 134px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 134px;
  }

  .u-section-3 .u-text-16 {
    margin-left: 73px;
    margin-right: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 173px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: -174px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 234px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 23px;
    margin-right: -74px;
    margin-left: 74px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 6px;
    margin-right: -15px;
    margin-left: 15px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 158px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: 20px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 5px;
    margin-right: 40px;
    margin-left: 65px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 21px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 241px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 13px;
    margin-right: -56px;
    margin-left: 56px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 6px;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 198px;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 11px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 15px;
    margin-right: -34px;
    margin-left: 74px;
  }

  .u-section-3 .u-layout-wrap-3 {
    margin-top: 40px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 214px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 16px;
    margin-left: 114px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 31px;
    margin-right: -83px;
    margin-left: 83px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 6px;
    margin-right: -7px;
    margin-left: 7px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 177px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: 0;
    margin-right: -65px;
    margin-left: 65px;
  }

  .u-section-3 .u-layout-wrap-4 {
    margin-top: 28px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 212px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 13px;
    margin-left: 120px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: 26px;
    margin-right: -83px;
    margin-left: 83px;
  }

  .u-section-3 .u-text-14 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 168px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-15 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-3 .u-text-16 {
    width: auto;
    margin-top: -13px;
    margin-right: 74px;
    margin-left: 64px;
  }

  .u-section-3 .u-image-1 {
    height: 109px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    height: 145px;
    margin-bottom: 0;
    margin-top: -9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-3 {
    height: 213px;
    margin-bottom: 46px;
    margin-top: -7px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}